

#contentWrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */

  font: Helvetica;
  overflow: auto;
}

body{
  color:#fff; background-color:black;
}

.dividerTop{
  height: 1.5%;
  width: 100%;
  background-color: #505050;
  position:absolute;
  top: 10%;
  left: 0%;
}

.dividerBottom{
  height: 1.5%;
  width: 100%;
  background-color: #505050;
  position:absolute;
  top: 90%;
  left: 0%;
}

.titleTheme{
  color:Snow;
  position:absolute;
  top: 0%;
  left: 1%;
}

.signInTheme{
  color:Snow;
  position:absolute;
  top: 0%;
  left: 90%;
}

.registrationTheme{
  color:Snow;
  position:absolute;
  top: 91%;
  left: 1%;
}

.socialMediaTheme{
  color:Snow;
  position:absolute;
  top: 91%;
  left: 90%;
}

.menu{
  background-color: #87ACA3;
  text-align: center;
  line-height: 40px;
  color: #009688;
  width: 800px;
  height: 35px;
  margin: auto;

}

.forms{
  display:flex;
  justify-content: center;
}

.LHSimage{
  height:370px;
  width: 10%;

  position:absolute;
  top: 16%;
  left: 0%;
}

.RHSimage{
  height:370px;
  width: 10%;

  position:absolute;
  top: 16%;
  left: 90%;
}

/* unvisited link */
a:link {
 color: Snow;
 text-decoration:none;
}

/* visited link */
a:visited {
 color: Snow;
 text-decoration:none;
}

/* mouse over link */
a:hover {
 color: Snow;
 text-decoration:none;
}

/* selected link */
a:active {
 color: Snow;
 text-decoration:none;
}
