#pageTitle{
  color:Snow;
  font-size: 100px;
  position:absolute;
  top: 8%;
  left: 10%;
}


#titlePageBackground {
  height:370px;
  width: 60%;

  position:absolute;
  top: 16%;
  left: 0%;
}

#titlePageRHS {
  height:370px;
  width: 20%;

  position:absolute;
  top: 16%;
  left: 80%;
}
