<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" href="/static/css/main.css" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="/static/css/billPage.css" type="text/css" charset="utf-8">
      <script src='/static/js/jquery-3.6.0.min.js'></script>
      <script src='/static/js/todo.js'></script>
      <title>Lab 1</title>
    </head>
    <div class="dividerTop"></div>
    <div id="contentWrapper">
    <body>
      <div>
        <h2 class="titleTheme">Splitinator</h2>
        <h2 class="signInTheme"><a href="/logout">Sign-out</a></h2>
        <h2 class="registrationTheme"><a href="/html/register.html">Register Account</a></h2>
        <h2 class="socialMediaTheme">Share</h2>
      </div>

      <span id="flashMessage"></span>
      <div id="billAdder">
        <div class="subheading">
          <h2>Add a Bill</h2>
        </div>
        <div class="forms">
          <form  id="billAdderForm" class="billForms">
              <p>Bill Name</p>
              <input id="billName" name="billName">
              {%for i in range(length): %}
              <li>{{allUserNames[i]}} </li>
              <input name=check id="{{i}}">
              {%endfor%}
              <p id="addBill" onclick="addBill('{{length}}')">Add Bill</p>
          </form>
        </div>
      </div>


      <div id="billNames">
        <div class="subheading">
          <h2>Bills</h2>
        </div>
        <div id="allBillNames">
        {%for element in allBills: %}
        <li id="{{element.billName}}" onclick="showBill('{{element.billName}}')">  {{ element.billName}}  {{element.status}}</li>
        {%endfor%}
        </div>
      </div>

      <div id="billDisplay">
        <div class="subheading">
          <h2 id="unique">Bill Details</h2>
        </div>
        <div id=billDetails>
          <p>Bill Details will appear here in the format:<br><br>username,<br>amountPaid,<br>amountDue<br>
          <br>click the bill name you would like to display</p>
        </div>
      </div>

      <div id="billPayments">
        <div class="subheading">
          <h2>Pay a Bill</h2>
        </div>
          <form class="billForms"  method="post">
              <p>Bill Name</p>
              <input id="billToPay" name="billNamePay">
              <p>Amount to Pay</p>
              <input id="amountPaid" name="amountPaid">
              <p id="pay" onclick="payBill()">Pay Bill</p>
          </form>
      </div>
    </body>
  </div>
  <div class="dividerBottom"></div>
</html>
